
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display</h2>

<div data-ng-controller="PlantListController as listCtrl">
    <div class="list-group" data-ng-repeat="plant in listCtrl.plantList" data-ng-cloak>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">{{plant.Name}}</h4>
            <p class="list-group-item-text">Group: {{plant.CategoryType}}</p>
            <p class="list-group-item-text">Size: {{plant.Feet}} ft</p>
            <p class="list-group-item-text">Bioluminescent: {{plant.IsBioluminescent}}</p>
        </a>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/myApp.services.plants.js"></script>

    <script type="text/javascript">
        /**
         * PlantServiceFactory Factory
         * @@namespace Factories
         */
        (function () {

            'use strict';

            angular.module(APPNAME)
                 .factory('plantService', plantService);

            plantService.$inject = ['$baseService', '$myApp'];

            /**
             * @@namespace plantService
             * @@desc Plant services
             * @@memberOf Factories
             */
            function plantService($baseService, $myApp) {
                var aServiceObject = myApp.services.plants;
                var newService = $baseService.merge(true, {}, aServiceObject, $baseService);
                return newService;
            }
        })();

        /**
         * PlantListController Controller
         * @@namespace Controllers
         */
        (function () {
            'use strict';

            angular.module(APPNAME)
            .controller('PlantListController', PlantListController);

            PlantListController.$inject - [
                  '$scope'
                , '$baseController'
                , 'plantService'
            ];

            /**
             * @@namespace PlantListController
             * @@desc Plant controller for retrieving a list
             * @@memberOf Controllers
             */
            function PlantListController(
                  $scope
                , $baseController
                , plantService
                ) {

                // Bindable Members
                var vm = this;
                $baseController.merge(vm, $baseController);
                vm.$scope = $scope;
                vm.plantService = plantService;
                vm.notify = vm.plantService.getNotifier($scope);

                vm.plantList = {};

                vm.getPlants = _getPlants;
                vm.onGetPlantsSuccess = _onGetPlantsSuccess;
                vm.onGetPlantsError = _onGetPlantsError;

                render();

                function render() {
                    vm.getPlants();
                }

                function _getPlants() {
                    vm.plantService.get(vm.onGetPlantsSuccess, vm.onGetPlantsError);
                }

                function _onGetPlantsSuccess(data) {
                    vm.notify(function () {
                        if (data && data.Items) {
                            vm.plantList = data.Items;
                            vm.$log.log(vm.plantList)
                        }
                    });
                }

                function _onGetPlantsError(jqXhr, error) {
                    vm.$log.log(error)
                }
            }
        })();
    </script>
}








